In [122]:
print('Hello World')

Hello World

In [ ]:
Operators in Python 
Functions 
User defined 
refer to a function we allways use ()

Data types :
    Singular int ,float , complex , object , null 
    Collective data types:  List, Dictionary , Sets , Tuple 
        
Call functions from two basic libraries 

Pandas 

Numpy

In [2]:
import pandas as pd   # Dataframes- storing and processing of data 
import numpy as np    # Numerical calculations  

import seaborn as sns  # Graphs and plots 
import matplotlib.pyplot as plt # graphs and plots

In [7]:
def my_function():
    pass
for i in "Sumit":
    print(i, end=' ')

S u m i t

In [40]:
x=5
    
if x>10:
    print("x is greater than 10")
elif x>5:
    print("x is greater than 5 but less than 10 ")
else:
    print("x is less than 10 and or equal to 5  ")

x is less than 10 and 5 both

1 Indentation <br>
2 Comments <br>
3 Print function

# Print <br> 
1 Hello <br> 
2 World <br>

# Data Types in Python 
## Singular <br>
Int <br>
float <br>
complex <br>
object <br>

In [115]:
x=23.3+1j

# Alt + Enter - New cell is created

In [116]:
type(x)

complex

![Jiya](https:///Users/amitbhatnagar/Desktop)

# Collective Data Types
List <br>
Dictionary <br>
Sets <br>
Tuple <br>

In [9]:
x= [56, {'Name':'Sumit','Empid':456},{23,87},(67,93)]

In [139]:
x[3]=78

In [136]:
x[0]=45
x

[45, {'Name': 'Sumit', 'Empid': 456}, {23, 87}, (67, 93)]

In [140]:
x

[56, {'Name': 'Sumit', 'Empid': 456}, {23, 87}, 78]

In [142]:
st=x[2]

In [145]:
x[3][1]=77

TypeError: 'tuple' object does not support item assignment

In [ ]:
# sets are unordered

In [129]:
for i in st:
    print(i)

87
23

In [10]:
x[3]=34

In [11]:
x

[56, {'Name': 'Sumit', 'Empid': 456}, {23, 87}, 34]

# List Operations

In [12]:
x.append(99999)

x

[56, {'Name': 'Sumit', 'Empid': 456}, {23, 87}, 34, 99999]

# Check the length of the list

In [146]:
len(x)

4

# Add a name 'Raghav ' to the list 
use append()

In [148]:
x.append('Raghav')

x

[56, {'Name': 'Sumit', 'Empid': 456}, {23, 87}, (67, 93), 'Raghav', 'Raghav']

In [149]:
x.insert(1,'Raghav')
x

[56,
 'Raghav',
 {'Name': 'Sumit', 'Empid': 456},
 {23, 87},
 (67, 93),
 'Raghav',
 'Raghav']

# Insert an item in the list at a specific index location 
Use insert()

# Remove an item in the list  
1) Removes the first item from the lsit - use remove() <br> 
2) Use pop()

In [151]:
x.remove('Raghav')

[56, {'Name': 'Sumit', 'Empid': 456}, {23, 87}, (67, 93), 'Raghav']

In [153]:
x.pop()
print(x)

[56, {'Name': 'Sumit', 'Empid': 456}, {87, 23}]

# Clear all the elements of the list 
Use clear()

In [154]:
x.clear()

x

[]

# Create a list of elements and perform slicing operation

# Dictionary

In [13]:
x= [56, {'Name':'Sumit','Empid':456},{23,87},(67,93)]

In [18]:
dc=x[1]

In [30]:
dc.update({'Desc':'Employee'})

In [31]:
dc

{'Name': 'Sumit', 'Empid': 456, 'Desc': 'Employee'}

# Extract Dictionary from the list
Store it in a variable

In [26]:
dc

{'Name': 'Sumit', 'Empid': 456}

# Extract the keys of the dictionary

In [21]:
dc.keys()

dict_keys(['Name', 'Empid'])

# Extract the values of the keys

In [159]:
dc.values()

dict_values(['Sumit', 456])

# Get an item for a key 
Use get() or a slicer

In [165]:
dc['Name']=['Gaurav','Renu']

# Update the name in the dictionary to "Raghav"
use update(key:'new_item')

In [168]:
dc.update({'Name':'Raghav'})

In [169]:
dc

{'Name': 'Raghav', 'Empid': 456}

# Add 'Raja' to the Name key 
Keeping both Raghav and Raja in the list <br>
Use assignment operator <br>
dictionary['Key']=('Rghav','Raja') <br>

In [35]:
dc['Name']=['Sumit', 'Raja' ]

In [37]:
dc

{'Name': ['Sumit', 'Raja'], 'Empid': 456, 'Desc': 'Employee'}

In [38]:
x

[56,
 {'Name': ['Sumit', 'Raja'], 'Empid': 456, 'Desc': 'Employee'},
 {23, 87},
 (67, 93)]

# Sets

# Extact set from the list

In [39]:
st=x[2]

In [173]:
st

{23, 87}

# Add an elemet in the set

In [174]:
st.add(99)

{23, 87, 99}

In [177]:
st.remove(87)

st

{23}

In [179]:
st

{23}

TypeError: remove() takes exactly one argument (0 given)

# String formatting 
use -  % , format() ,fstring 

name ='Som'
age=12
'Hi how are you %s , is your age %d '%(name, age)

In [6]:
Name='Sam'
Age=34
Surname='Bhatt'
Place='Delhi'
Zipcode=110017

#x= " Hi how are you doing %s is your age % d" %(Name, Age)  
x=' I live in {} and my zipcode is {}'.format(Place, Zipcode) 
print(x)

f'I live in {Place} and my area zipcode is {Zipcode}'

 I live in Delhi and my zipcode is 110017

'I live in Delhi and my area zipcode is 110017'

# PEMDAS

# Dynamic Typing 
# Polymorphism

# Import libraries 
Pandas  <br>
Numpy <br>

In [41]:
import os

In [42]:
os.getcwd()

'/Users/amitbhatnagar/Desktop/Data Sciemce/SIMPLILEARN/IITG'

# Read the file Iris

In [43]:
ir=pd.read_csv('IRIS.csv')

In [44]:
type(ir)

pandas.core.frame.DataFrame

In [195]:
ir.species.value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: species, dtype: int64

# Read the first five lines of the data set

In [197]:
ir.tail()

     sepal_length  sepal_width  petal_length  petal_width         species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

# Read the last five lines

# Check for missing values

In [45]:
ir.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [ ]:
ir.dro

In [215]:
ir[ir.sepal_length==5.8].duplicated()

14     False
67     False
82     False
92     False
101    False
114    False
142     True
dtype: bool

In [216]:
ir.head(10)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

# Check for Duplicate valduplicated

In [204]:
ir[ir.duplicated()]

     sepal_length  sepal_width  petal_length  petal_width         species
34            4.9          3.1           1.5          0.1     Iris-setosa
37            4.9          3.1           1.5          0.1     Iris-setosa
142           5.8          2.7           5.1          1.9  Iris-virginica

# Check important parameters of the file like : 
Dimensions <br >
Data type of the variables <br>
Five point summary <br >

In [218]:
ir.shape

(150, 5)

In [226]:
ir.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [227]:
# int , float , object , category , complex

In [230]:
ir.species=pd.Categorical(ir.species)

In [46]:
ir.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [225]:
type(ir.species[2])

str

In [221]:
x='Sumit'

In [222]:
type(x)

str

# Slicing of Data 
# [] , iloc[ ] , loc[ ] <br>
1)Extract rows 3 to 7 from the data set iris using [] iloc and loc <br>
2)Extract specific columns "petal length" and "species" for the dataset  <br>

In [49]:
ir.head(10) # first five rows

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [50]:
ir[4:8] # first portion of the range is inclusive and the second portion of the range is exclusive

   sepal_length  sepal_width  petal_length  petal_width      species
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa

# Group by - find the average  sepal width , petal length per species

In [55]:
ir[4:8][['sepal_length','sepal_width']]

   sepal_length  sepal_width
4           5.0          3.6
5           5.4          3.9
6           4.6          3.4
7           5.0          3.4

In [58]:
#ir.iloc[rows range , columns range - index values ]
ir.iloc[ 4 :8  ,0 :4 ]

   sepal_length  sepal_width  petal_length  petal_width
4           5.0          3.6           1.4          0.2
5           5.4          3.9           1.7          0.4
6           4.6          3.4           1.4          0.3
7           5.0          3.4           1.5          0.2

In [59]:
ir.head(10)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [60]:
ir.loc[4 :7 ,"sepal_length" :"petal_width" ]

   sepal_length  sepal_width  petal_length  petal_width
4           5.0          3.6           1.4          0.2
5           5.4          3.9           1.7          0.4
6           4.6          3.4           1.4          0.3
7           5.0          3.4           1.5          0.2

# Group by - find the minimum and maximum values of sepal length and sepal width in a statement 

ir.groupby('species').agg(['mean','max'])

In [ ]:
# cut the data set on the basis of a category and apply a function

In [71]:
ir[48:58]

    sepal_length  sepal_width  petal_length  petal_width          species
48           5.3          3.7           1.5          0.2      Iris-setosa
49           5.0          3.3           1.4          0.2      Iris-setosa
50           7.0          3.2           4.7          1.4  Iris-versicolor
51           6.4          3.2           4.5          1.5  Iris-versicolor
52           6.9          3.1           4.9          1.5  Iris-versicolor
53           5.5          2.3           4.0          1.3  Iris-versicolor
54           6.5          2.8           4.6          1.5  Iris-versicolor
55           5.7          2.8           4.5          1.3  Iris-versicolor
56           6.3          3.3           4.7          1.6  Iris-versicolor
57           4.9          2.4           3.3          1.0  Iris-versicolor

In [68]:
ir.groupby(by='species').max()

                 sepal_length  sepal_width  petal_length  petal_width
species
Iris-setosa               5.8          4.4           1.9          0.6
Iris-versicolor           7.0          3.4           5.1          1.8
Iris-virginica            7.9          3.8           6.9          2.5

# While loop 
Exit the while loop after 6th iteration  
Take an input of the value of i =100
keep a step size of 10  

Use while =True condition

In [73]:
x= 100

while x>10:
    print(x)
    x=x-10

100
90
80
70
60
50
40
30
20

# For loop 

Iterate through a string <br>
Use break and continue

In [74]:

x = " Sumit"

for i in x:
    print(i)

S
u
m
i
t

# Create a dictionary with multiple inputs of names 
check if the name is uniuqe or not <br>
Name should start with a capital letter when it is stored.User may enter the name in any form (capital or small ) <br>
Enter the employee_id (should be unique)<br>
Store the dictionary  in a function <br> 
Show the names in the dictionary <br>
store the dictionary in a pandas dataframe to employee id and name

In [91]:
empid_list=[]
name_list=[]


#{'Name':name}



def emp_func():
    while True:
        eid=input('Enter employee id')
        if eid not in empid_list:
            empid_list.append(eid)
            nm=input('Enter employee name')
            name_list.append(nm)
            return(empid_list,name_list)
        
        else:
            print('Enter employee id exists')

In [93]:
emp_func()

Enter employee id 8888
Enter employee name Raghav

(['123', '8888'], ['9999', 'Raghav'])

In [95]:
name_list

['9999', 'Raghav']

In [97]:
empid_list

['123', '8888']

In [112]:
df_employee=pd.DataFrame({'Employee_id':empid_list,'Name':name_list})

In [114]:
type(df_employee)

pandas.core.frame.DataFrame

In [115]:
df_employee.to_csv('emp.csv')

In [ ]:
# Create a markdown cell with following sentenses coming on separate lines and 
The following questions are

In [104]:
import csv

In [106]:
ir.to_csv('emp.csv')

# Check if a triangle is isosceles triangle

# Check if a number is a prime number or not

In [120]:
x= 17
    
for i in range(2,x):
    print(i)
    if x%i !=0:
        if i=x-1:
            print(f'{x} is  Prime number')
        else:
        continue 
    else:
        print('Not a prime number ')

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16

# Define and user defined function for prime number

# List comprehension

# All the numbers perfectly divisble by 8

# Using else statement in a list comprehension 

### Print " Divisible " for numbers perfectly divisible by 8  and "Not Divisible " for others

# Calculate the number of spaces in a text

# Design a simple calculator : add , subtract , multiply , divide 
Home task

dict